<div class="innerBox1">
    <h1> {{title1}} </h1>
    <p><span [innerHTML]='data1'></span></p>
    <!-- <h1> {{title2}}</h1>
    <p><span [innerHTML]='response1'></span></p> -->
    <p> A backend server delivers an API - router ways into a system. It enables access and interaction. A simple user & product application demo. 
        Register a user and to log in / log out. Saving data in a storage, database (sqlite3). Handling the 
        data parameters entered. Through the gateway / router of the API on the server. </p>
    <p> The frontend is a graphical interface and handles functionality. It connects to the backend API. The end user can interact with the interface. 
        'A face in between', as the name suggests.  </p>
    <p> In the 'shop' use buttons for buying / selling the product. In this sample there is only one product - productX (scope control). Each user has a depot with products and funds. 
        And the user can when logged in buy and sell the product. And see their funds in their depot.  Theese buttons connect to the backend server API and makes updates in the storage - database. 
        An important memory for applications. </p>
    <p> There is an open realtime window (socket.io). There new prices for the productX can be set live. A backend realtime server connected. 
        The new price is instantly updated in the database. A micro service for live prices.
    </p>
    <div class="imgDiv">
        <img src="assets/img/earth.png" alt="earth">
    </div>
    <!-- <img ngSrc="earth-europe-solid.png"> -->
</div>
