<!-- <div id="nameField" #nameField>
    <p #nameTitle type="text" >Your name: </p>
    <input #name type="text" id="input1" value='BladeRunner'> 
    <div #nameBtn (click)="addName(name.value); name.value=''" class="btn">Send</div>
</div> -->

<div class="chat">  
    <h1> Real time prices </h1>
    <p> Prices of productX can change any moment. 
    <br> Fill in the new price ($) and it is updated through a realtime connection. </p>
    <p> Visit the shop to see the product. </p>

        <div id="chat">
            <ul id="messages" *ngFor="let message of messages">
                <li> {{message}} </li>
            </ul>
        </div>

        <div id="form">
            <input #box1 type="text" id="input" class='input' value='' >
            <div (click)="sendMsg(box1.value); box1.value=''" class="btn">Send</div>
        </div>
        <p id="chatName"></p>

</div>