
/* Ylvali app */

h2 {
  text-transform: uppercase; 
}

body {
  background-color: #705f94;
  min-width: 250px;
}

/* HEADER */
.header{
  background-color: #6e6386;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex; 
  justify-content: space-between;
  height: 50px;
  /* margin-right: 20px; */
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
}

.headerImg {
  float: left;
  max-width: 50px;
  max-width: 50px;
}

.header img {
  max-height: 100%;
}

.footer{
  background-color: #2c033b;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex; 
  justify-content: space-between;
  height: 70px; 
  margin-top: 85px;
  width: 100%;
  position: static;
  bottom: 0;
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
}

.header h1 {
  color: white;
  font-size: 1em;
  margin-left: 20px;
  color: yellow;
  text-transform: uppercase;

}

@media screen and (min-width: 921px) {
  .header {
    height: 72px;
  }

  .footer {
    height: 72px;
  }
}

.navigation {
  float: right;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 4px;
  height: 30px;
  padding-top: 4px;
  text-align: right;
  width: 75%;
}

.navigation a {
  text-decoration: none;
  color: white;
  background-color: 718EA4;
  padding: 5px;
}

.navigation a:hover {
  color: #e4d71b;
}

.routerView {
  background-color: #8A7BAA;
  border-radius: 24px;
  color: white;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  /* margin-top: 135px; */
}

/* Responsive Styles */

@media screen and (max-width: 600px) {
/* 
  .header {
    width: 40%;
  } */

  .navigation {
    width: 60%;
  }

  .routerView {
    width: 90%;
  }
} 

@media screen and (max-width: 840px) {
  .routerView {
    width: 90%;
  }
} 

@media screen and (min-width: 840px) {
  .routerView {
    width: 90%;
  }

  .header {
    font-size: 0.8em;
  }

  .header h1 {
    font-size: 0.8em;
  }

  .navigation {
    font-size: 0.9em;
  }
} 

@media screen and (max-width: 400px) {
  .navigation {
    font-size: 0.5em;
  }
}

/* @media screen and (max-width: 1200px) {

.routerView {
  width: 70%;
}

}


@media screen and (max-width: 700px) {

.routerView {
  width: 90%;
}

}

@media screen and (max-width: 330px) {

.header {
  font-size: 50px;
}

.routerView {
  width: 100%;
}

.navigation {
  width: 100%;
}

} */
